<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    {% block css %}{% endblock %}
    {% bootstrap_css %}
  </head>
  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    {% block body %}{% endblock %}
    {% block js_content %}{% endblock %}
  </body>
</html>
