{% extends "home/body.html" %}

{% block content %}
  <h1>{% trans "Main page" %}</h1>
  <ul>
    <li><a href="{% url "parameter-list" %}">{% trans "Parameters" context "model_name" %}</a></li>
    <li><a href="{% url "parameter-set" %}">{% trans "Parameters" context "model_name" %} {% trans "(all-in-one)" %}</a></li>
    <hr/>
    <li><a href="{% url "patient-list" %}">{% trans "Patients" context "model_name" %}</a></li>
    <li><a href="{% url "patient-set" %}">{% trans "Patients" context "model_name" %} {% trans "(all-in-one)" %}</a></li>
    <hr/>
    <li><a href="{% url "project-list" %}">{% trans "Projects" context "model_name" %}</a></li>
    <li><a href="{% url "project-set" %}">{% trans "Projects" context "model_name" %} {% trans "(all-in-one)" %}</a></li>
    <hr/>
    <li><a href="{% url "form-list" %}">{% trans "Forms" context "model_name" %}</a></li>
    <li><a href="{% url "form-set" %}">{% trans "Forms" context "model_name" %} {% trans "(all-in-one)" %}</a></li>
    <hr/>
    <li><a href="{% url "application-list" %}">{% trans "Applications" context "model_name" %}</a></li>
    <li><a href="{% url "application-set" %}">{% trans "Applications" context "model_name" %} {% trans "(all-in-one)" %}</a></li>
  </ul>
{% endblock %}
