{% load i18n %}

<div class="language-switch">
  {% get_current_language as LANGUAGE_CODE %}
  {% get_available_languages as LANGUAGES %}
  {% get_language_info_list for LANGUAGES as languages %}
  {% for language in LANGUAGES %}
    {% ifnotequal LANGUAGE_CODE language.0 %}
      <form method="post" action="{% url "set_language" %}">
        <input type="hidden" name="language" value="{{ language.0 }}" />
        <button type="submit">{{ language.0 }}</button>
      </form>
    {% endifnotequal %}
  {% endfor %}
</div>
