{% extends "home/body.html" %}

{% block content %}
  <p><b>{% trans "Username" context "model_field" %}</b>: {{request.user.username}}</p>
  <p><b>{% trans "Full Name" context "model_field" %}</b>: {{ request.user.userprofile }}</p>
  <p><b>{% trans "City" context "model_field" %}</b>: {{request.user.userprofile.city}}</p>
  <p><b>{% trans "Subject" context "model_field" %}</b>: {{request.user.userprofile.subject}}</p>
  <p><b>{% trans "District" context "model_field" %}</b>: {{request.user.userprofile.district}}</p>
  <p>
    <b>{% trans "Available Projects" %}</b>
    {% for project in request.user.userprofile.projects.all %}
    {{ project.name }}
    {% endfor %}
  </p>
{% endblock %}
