{% extends "home/body_auth.html" %}

{% block content_auth %}
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">{% trans 'Authentication' %}</div>
      <div class="card-body">
        <form method="POST" action=".">
          {% csrf_token %}
          {% bootstrap_form form layout='inline' %}
          <button type="submit" class="btn btn-primary">{% trans 'Log in' %}</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <div class="text-center">
          <a class="d-block small" href="{% url 'password_reset' %}">{% trans "Forgot password" %}?</a>
        </div>
      </div>
    </div>
{% endblock %}
