{% extends 'home/body.html' %}

{% block content %}
  <form class="inline-form pull-left" action="{% url 'update_data' %}" method="POST">
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-text">
        <i class="fa fa-fw fa-address-card"></i>
      </div>
      {{ patient_form.patient }}
    </div>
  </form>
  {% if perms.hospital.add_application %}
  <form class="inline-form pull-left" action="{% url 'update_data' %}" method="POST">
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-text">
        <i class="fa fa-fw fa-wpforms"></i>
      </div>
      {{ patient_form.form }}
    </div>
  </form>
  {% endif %}
  <div style="clear:both;"></div>
  <ul class="nav nav-tabs" id="history_and_new_form_id">
    <li class="nav-item">
      <a class="nav-link active show" id="history_id" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="true">{% trans "History" %}</a>
    </li>
    {% if perms.hospital.add_application %}
    <li class="nav-item">
      <a class="nav-link" id="new_form_id" data-toggle="tab" href="#new_form" role="tab" aria-controls="new-form" aria-selected="true">{% trans "New Application" %}</a>
    </li>
    {% endif %}
  </ul>
  <div class="tab-content" id="historyAndFormTabContent">
    <div class="tab-pane fade show active" id="history" role="tabpanel" aria-labelledby="history-tab">
      {% if request.session.patient %}
      <div class="table-responsive" style="margin: 20px 0;">
        <table class="table cell-border order-column" id="patientHistoryTable" width="100%" cellspacing="0">
          <thead>
              {% if perms.hospital.supervise_application %}
              <th class="patientHistoryCol_Doctor">{% trans 'Doctor' context "model_name" %}</th>
              {% endif %}
              <th>{% trans 'Applications' context "model_name" %}</th>
              <th class="patientHistoryCol_Date">{% trans 'Added' context "model_field" %}</th>
            </tr>
          </thead>
          <tbody>
          {% for history in history_list %}
            <tr>
              {% if perms.hospital.supervise_application %}
              <td>{{ history.doctor.get_full_name }}</td>
              {% endif %}
              <td>
                {% for value in history.values %}
                {% autoescape off %}
                <b>{{ value.parameter }}</b>: {{ value.get_wrapped_value }}
                {% if forloop.last %}{% else %}<br/>{% endif %}
                {% endautoescape %}
                {% endfor %}
              </td>
              <td>{{ history.created_at | date:"d.m.Y H:i:s" }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
     {% else %}
      <div style="margin: 20px 0;">
        {% trans "Select patient to see the history" as select_patient context 'action' %}
        {% bootstrap_alert select_patient alert_type='info' dismissable=False %}
      </div>
      {% endif %}
    </div>
    <div class="tab-pane fade" id="new_form" role="tabpanel" aria-labelledby="new-form-tab">
      {% if form_to_fill %}
        <form method="POST" style="margin-top: 20px; margin-bottom: 20px;">
          {% bootstrap_form form_to_fill layout='inline' %}
          <button type="submit" class="btn btn-primary">{% trans 'Add' context 'action' %}</button>
        </form>
      {% else %}
       <div style="margin: 20px 0;">
         {% trans "Select patient and form to create new application" as select_patient_and_form %}
         {% bootstrap_alert select_patient_and_form alert_type='info' dismissable=False %}
       </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
